li.product-item {
  padding: 10px;
  display: inline-block;
  width: 100px;
  height: 200px;
  background-color: white;
  border: 1px solid #F6F6F6;

  img{
    width: 100px;
    height: 100px;
  }
}
