form.product-add{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding: 20px;
  * {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  input.input{
    height: 30px;
    border-radius: 5px;
  }
  button.product-add-button{
    width: 50px;
    background-color: #0093FF;
    height: 30px;
    border-radius: 5px;
  }

}
